#financialSpreadChart {
	max-width: 380px;
	margin: 35px auto;
	padding: 0;
  }

  #averageIncomeChart {
	max-width: 650px;
	margin: 35px auto;
  }

  #fishDistributionChart {
	max-width: 650px;
	margin: 35px auto;
  }
  

  
  